<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDauTM3bv9Cuyd2z8O-IkWV-5ie-_va3Og</string>
	<key>GCM_SENDER_ID</key>
	<string>252981140539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parv.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-721b8</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-721b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252981140539:ios:0c1a1c477fdded6bfc101e</string>
</dict>
</plist>